.box label{
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
}

.box input[type="text"],
.box select{
    width: 200 px;
    height: 18  px;
}

.payment-options label{
    width: 100px;       /* prevent radio labels from stretching */
    text-align: right;
    margin-right: 5px;
    margin-bottom: auto;
}

input:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed
}

/* Hide shipping fields by default */
#shippingFields {
    display: none;
    /*transition: all 0.3s ease;*/
}

.help {display: none;}
.invalid .help {display: block;}

.invalid label, .invalid input,
.invalid .help {
    color: red;
    border-color: red;
}